<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link href="./styles/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="./styles/fontawesome.min.css" />
    <link href="./styles/main.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">SHOP 101</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"></ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid bg-indigo">
      <div class="d-flex align-items-center mb-4">
        <h1 class="text-white me-2">Product List</h1>
        <i class="fas fa-shopping-bag text-white" style="font-size: 1.5rem"></i>
      </div>
      <div id="spinner" class="text-center my-4">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div
        class="d-flex justify-content-between align-items-center mb-4 d-none"
      >
        <nav aria-label="Page navigation">
          <ul
            class="pagination justify-content-center mb-0"
            id="pagination-container"
          >
            <li class="page-item">
              <a
                class="page-link"
                href="#"
                id="prev-page"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <!-- Pagination controls will be dynamically added here -->
            <li class="page-item">
              <a class="page-link" href="#" id="next-page" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="d-flex align-items-center">
          <label for="perPage" class="me-2 text-white">Records per page:</label>
          <select id="perPage" class="form-select w-auto">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
          </select>
        </div>
      </div>

      <div id="productList" class="row bg-dark">
        <!-- Products will be populated here by list.js -->
      </div>
    </div>

    <div id="message" class="alert" style="display: none"></div>

    <!-- Edit Modal -->
    <div class="editModalContainer">
      <div class="container editModal">
        <div>
          <div>
            <div>
              <h5>Edit Product</h5>
            </div>
            <div>
              <form id="editForm">
                <div class="form-group">
                  <label for="productName">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="productName"
                    placeholder="Product Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="productPrice">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="productPrice"
                    placeholder="Product Price"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="productStock">Stock</label>
                  <input
                    type="number"
                    class="form-control"
                    id="productStock"
                    placeholder="Product Stock"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="productDescription">Description</label>
                  <textarea
                    class="form-control"
                    id="productDescription"
                    rows="3"
                    placeholder="Product Description"
                    required
                  ></textarea>
                </div>
                <input type="hidden" id="productId" />
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary modalCloseBtn">
                Close
              </button>
              <button type="button" id="saveChangesBtn" class="btn btn-primary">
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="py-5">
      <footer id="mainfooter" class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white"></p>
        </div>
      </footer>
    </section>

    <script src="./js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./js/list.js"></script>
    <script src="./js/getProducts.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
